<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130415787973-12ilvsm2u1ahr3h01b0e0v84l7hnjqfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130415787973-12ilvsm2u1ahr3h01b0e0v84l7hnjqfe</string>
	<key>API_KEY</key>
	<string>AIzaSyDiapV8uuebWgAkPdq4jLZfbnHsJ-dDgHk</string>
	<key>GCM_SENDER_ID</key>
	<string>130415787973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.jerem.lynightapple</string>
	<key>PROJECT_ID</key>
	<string>lynight-53310</string>
	<key>STORAGE_BUCKET</key>
	<string>lynight-53310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130415787973:ios:6e153227bcf7a49db9d5ac</string>
	<key>DATABASE_URL</key>
	<string>https://lynight-53310.firebaseio.com</string>
</dict>
</plist>